/pI_analyses_across_envs/all_checkv_quality_filtered_typical_atypical_dereplicated_viruses_from_genomad_blast_vog_db_3_viral_structural_genes1_contigIDs_merged_viral_structural_genes_dir_updated_revisions_exact_besthit/IMGVR_all_Sequence_information_Freshwater_len3500.tsv filter=lfs diff=lfs merge=lfs -text
/pI_analyses_across_envs/all_checkv_quality_filtered_typical_atypical_dereplicated_viruses_from_genomad_blast_vog_db_3_viral_structural_genes1_contigIDs_merged_viral_structural_genes_dir_updated_revisions_exact_besthit/viral_structural_genes_IMGVR_all_proteins_Freshwater_len3500_proteins.clean.faa filter=lfs diff=lfs merge=lfs -text
/pI_structural_WAHLs/WATL_wet_dry_viruses_split_by_contig_faa_updated_revisions_besthit/all_checkv_quality_filtered_typical_atypical_dereplicated_viruses_from_genomad_virsorter2_NCBI_RefSeq_blast_filtered_3_pident30.tsv filter=lfs diff=lfs merge=lfs -text
/pI_structural_WAHLs/WATL_wet_dry_viruses_split_by_contig_faa_updated_revisions_besthit/all_checkv_quality_filtered_typical_atypical_dereplicated_viruses_from_genomad_virsorter2_VOG_blast_3_pident30.tsv filter=lfs diff=lfs merge=lfs -text
